@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,regular,500,700,900);

hr
{
    border: 1.5px solid #05386B;
    border-style: dashed;
}

a
{
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

body
{
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5CDB95;
}

header
{
    width: 100%;
    background-color: #379683;
    color: #EDF5E1;
    padding-top: 5px;
    padding-bottom: 5px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#headerGrid
{
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: auto;
    grid-template-areas: 'image title menu';
    position: relative;
}

header img#prof
{
    grid-area: image;
    width: 100%;
    max-width: 60px;
    margin: auto auto;
    border-radius: 100%;
}

header img#menu
{
    grid-area: menu;
    width: 100%;
    max-width: 35px;
    margin: auto auto;
    cursor: pointer;
}

header div#title
{
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

header div#title span
{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    line-height: 1rem;
}

#dropDown
{
    display: none;
    /* display: block; */
    grid-area: menu;
    position: absolute;
    background-color: #8EE4AF;
    border-radius: 5px;
    top: 80%;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #05386B;
    font-size: 1.2rem;
    width: max-content;
    min-width: 200px;
    text-align: center;
    border: 3px solid #05386B;
    border-style: dashed;
    line-height: 1.2rem;
}

.menuIcons
{
    height: 1.2rem;
    display: inline-block;
    margin: auto auto;
}

main
{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    color: rgb(44, 44, 65);
}

.secao
{
    width: 100%;
    color: #05386B;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.post
{
    background-color: #EDF5E1;
    border-radius: 10px;
    text-align: center;
    /* border: 3px solid rgb(44, 44, 65);
    border-style: dashed; */
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.post a
{
    color: #05386B;
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
}

.post img
{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

footer
{
    width: 100%;
    padding: 10px 0 10px 0;
    background-color: #EDF5E1;
    text-align: center;
    border-top: 3px solid rgb(44, 44, 65);
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-style: dashed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.butFooter
{
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: #5CDB95;
}

.butFooter img
{
    height: 80%;
    width: 80%;
    margin: auto auto;
}

@media only screen and (max-width: 700px)
{
    #headerGrid
    {
        width: 95%;
    }

    main
    {
        width: 95%;
    }
}